

jupyter
ffmpeg-python
python-dotenv
shiny
git+https://github.com/jcheng5/shinymedia
pandas

matplotlib
groq
gTTS
pyttsx3
opencv-python
flask
flask-socketio
eventlet
requests
flask
flask-cors
flask-socketio
eventlet
requests
flask
flask-cors
werkzeug
opencv-python
numpy
astrapy



Flask==2.3.3
openai==1.3.0
python-dotenv==1.0.0
requests==2.31.0


requests==2.31.0
gunicorn==21.2.0
numpy>=1.24,<2.3
scipy>=1.10.0,<1.14.0




Flask==2.3.3
openai==1.3.0
python-dotenv==1.0.0


numpy>=1.24,<2.3



